@model OBTM.Core.Models.DateWiseTrip

@{
    ViewBag.Title = "CreateDateWiseTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#BusOperatorId").change(function () {
            var busOperatorID = $("#BusOperatorId").val();
            RouteOptionData(busOperatorID);
        });

        $("#RouteId").change(function () {
            var routeID = $("#RouteId").val();
            var busOperatorID = $("#BusOperatorId").val();
            TripOptionData(routeID, busOperatorID);
        });
    });


    function RouteOptionData(busOperatorId) {
        $.ajax(
            {
                type: "GET",
                url: "/DateWiseTrip/GetRoutes",
                data: { busOperatorID: busOperatorId },
                cache: false,
                success: function (data) {
                    RouteOptionBind(data);
                }
            }
        );
    };
    function RouteOptionBind(data) {
        var i = 0;
        var routeList = data;
        var routes = $("#RouteId");
        routes.empty();
        if (routeList != null) {
            routes.append('<option value="0">Select Route</option>');
            for (i = 0; i < routeList.length; i++) {
                routes.append('<option value="' + routeList[i].Id + '" >' + routeList[i].RouteName + '</option>');
            }
        }
        else {
            routes.append('<option value="0">Select Route</option>');
        }

    };


    function TripOptionData(routeId, busOperatorId) {
        $.ajax(
            {
                type: "GET",
                url: "/DateWiseTrip/GetTrips",
                data: { routeID: routeId, busOperatorID: busOperatorId },
                cache: false,
                success: function (data) {
                    TripOptionBind(data);
                }
            }
        );
    };
    function TripOptionBind(data) {
        var i = 0;
        var tripList = data;
        var trips = $("#TripId");
        trips.empty();
        if (tripList != null) {
            trips.append('<option value="0">Select Trip Time</option>');
            for (i = 0; i < tripList.length; i++) {
                trips.append('<option value="' + tripList[i].Id + '">' + tripList[i].DepartureTime + '</option>');
            }
        }
        else {
            trips.append('<option value="0">Select Trip</option>');
        }
    };
</script>

<h2>Create a datewise trip</h2>

<div class="row">
    <div class="col-md-2">@Html.Partial("NavbarPartial")</div>

    <div class="col-md-10">
        @using (Html.BeginForm("Save", "DateWiseTrip", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">

                <div class="form-horizontal col-md-3">
                    <div class="form-group">
                        @Html.DropDownList("BusOperatorId", (SelectList)ViewBag.BusOperator, "Select Bus", new { @class = "form-control", required = "required" })
                    </div>
                </div>

                <div class="form-horizontal col-md-3">
                    <div class="form-group">
                        @Html.DropDownList("RouteId", new SelectList(Enumerable.Empty<SelectListItem>()), "Select Route", new { @class = "form-control", required = "required" })
                    </div>
                </div>

                <div class="form-horizontal col-md-3">
                    <div class="form-group">
                        @Html.DropDownList("TripId", new SelectList(Enumerable.Empty<SelectListItem>()), "Select Trip Time", new { @class = "form-control", required = "required" })
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control ", type = "date" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NoOfSeat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.NoOfSeat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoOfSeat, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fare, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2">
                        @Html.EditorFor(model => model.Fare, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fare, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>



