@model OBTM.Core.Models.DateWiseTripCreateView

@{
    ViewBag.Title = "CreateDateWiseTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-2">@Html.Partial("NavbarPartial")</div>

    <div class="col-md-10">
        <h3>Create a datewise trip</h3>
        @if (ViewBag.Message != null)
        {
            if (ViewBag.Success)
            {
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@ViewBag.Message</strong>
                </div>
            }
            else
            {
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>@ViewBag.Message</strong>
                </div>
            }
        }
        <hr />
        @using (Html.BeginForm("SaveNew", "DateWiseTrip", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">

                <div class="form-horizontal col-md-3">
                    <div class="form-group">
                        @Html.Label("Select Bus:")
                        @Html.DropDownListFor(model => model.BusOperatorId, (SelectList)ViewBag.BusOperator, "Select Bus", new { @class = "form-control", required = "required" })
                    </div>
                </div>

                <div class="form-horizontal col-md-3">
                    <div class="form-group">
                        @Html.Label("Select Route:")
                        @Html.DropDownListFor(model => model.RouteId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Route", new { @class = "form-control", required = "required" })
                    </div>
                </div>

                <div class="form-horizontal col-md-3">
                    <div class="form-group">
                        @Html.Label("Select Trip:")
                        @Html.DropDownListFor(model => model.TripId, new SelectList(Enumerable.Empty<SelectListItem>()), "Select Trip Time", new { @class = "form-control", required = "required" })
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-horizontal">
                <br />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.DateWiseTripId)

                <div class="form-group row">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-3">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                    <label class="required col-sm-1"></label>
                </div>


                <div class="form-group row">
                    @Html.LabelFor(model => model.NoOfSeat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-3">
                        @Html.EditorFor(model => model.NoOfSeat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NoOfSeat, "", new { @class = "text-danger" })
                    </div>
                    <label class="required col-sm-1"></label>
                </div>


                <div class="form-group row">
                    @Html.LabelFor(model => model.Fare, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group col-md-3">
                        @Html.EditorFor(model => model.Fare, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fare, "", new { @class = "text-danger" })
                    </div>
                    <label class="required col-sm-1"></label>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to Datewise Trip Home", "Index")
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        $("#BusOperatorId").val("@Html.Raw(Model.BusOperatorId != 0 ? Model.BusOperatorId : 0)");
        $("#Date").val(Date.now);
        $("#NoOfSeat").val(0);
        $("#Fare").val(0);

        $("#BusOperatorId").change(function () {
            var busOperatorID = $("#BusOperatorId").val();
            if (!busOperatorID) {
                $("#RouteId").empty();
                $("#TripId").empty();
            }
            else {
                RouteOptionData(busOperatorID);
            }
        });

        $("#BusOperatorId").trigger("change");

        $("#RouteId").change(function () {
            var routeID = $("#RouteId").val();
            var busOperatorID = $("#BusOperatorId").val();
            if (!routeID || !busOperatorID) {
                $("#TripId").empty();
            }
            else {
                TripOptionData(routeID, busOperatorID);
            }

        });
    });
    function RouteOptionData(busOperatorId) {
        $.ajax(
            {
                type: "GET",
                url: "/DateWiseTrip/GetRoutes",
                data: { busOperatorID: busOperatorId },
                cache: false,
                success: function (data) {
                    RouteOptionBind(data);
                }
            }
        );
    };
    function RouteOptionBind(data) {
        var i = 0;
        var routeList = data;
        var routes = $("#RouteId");
        routes.empty();
        if (routeList != null) {
            routes.append('<option value="0">Select Route</option>');
            for (i = 0; i < routeList.length; i++) {
                routes.append('<option value="' + routeList[i].Id + '" >' + routeList[i].RouteName + '</option>');
            }
            routes.val("@Html.Raw(Model.RouteId != 0? Model.RouteId : 0)");
            routes.trigger("change");
        }
        else {
            routes.append('<option value="0">Select Route</option>');
        }

    };
    function TripOptionData(routeId, busOperatorId) {
        $.ajax(
            {
                type: "GET",
                url: "/DateWiseTrip/GetTrips",
                data: { routeID: routeId, busOperatorID: busOperatorId },
                cache: false,
                success: function (data) {
                    TripOptionBind(data);
                }
            }
        );
    };
    function TripOptionBind(data) {
        var i = 0;
        var tripList = data;
        var trips = $("#TripId");
        trips.empty();
        if (tripList != null) {
            trips.append('<option value="0">Select Trip Time</option>');
            for (i = 0; i < tripList.length; i++) {
                trips.append('<option value="' + tripList[i].Id + '">' + tripList[i].TimeOfDay.Hours + ":" + tripList[i].TimeOfDay.Minutes + '</option>');
            }
            trips.val("@Html.Raw(Model.TripId != 0 ? Model.TripId : 0)");
        }
        else {
            trips.append('<option value="0">Select Trip</option>');
        }
    };
    </script>
}

