@model IEnumerable<OBTM.Core.Models.DateWiseTrip>

@{
    ViewBag.Title = "DateWiseTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $
</script>

<div class="row">
    <div class="col-md-2">@Html.Partial("NavbarPartial")</div>

    <div class="col-md-10">
        <h2>Datewise Trip</h2>
        @using (Html.BeginForm("GetDateWiseTrips", "DateWiseTrip", FormMethod.Post))

        {
            @Html.AntiForgeryToken()
            <div class="row">

                <div class="form-horizontal col-md-3">
                    <div class="form-group">
                        @Html.DropDownList("BusOperatorId", new SelectList(Enumerable.Empty<SelectListItem>()), "Select Bus", new { @class = "form-control", required = "required" })
                    </div>
                </div>

                <div class="form-horizontal col-md-3">
                    <div class="form-group">
                        @Html.DropDownList("RouteId", new SelectList(Enumerable.Empty<SelectListItem>()), "Select Route", new { @class = "form-control", required = "required" })
                    </div>
                </div>

                <div class="form-horizontal col-md-3">
                    <div class="form-group">
                        @Html.DropDownList("TripId", new SelectList(Enumerable.Empty<SelectListItem>()), "Select Trip Time", new { @class = "form-control", required = "required" })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="form-inline ">
                        <button class="btn btn-default btn-primary" type="submit">Search Datewise Trips</button>
                    </div>
                </div>

            </div>
        }

        <br />
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NoOfSeat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fare)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NoOfSeat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fare)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
