@model OBTM.Core.Models.DateWiseTripEditView

@{
    ViewBag.Title = "EditDateWiseTrip";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-2">@Html.Partial("NavbarPartial")</div>
    <div class="col-md-10">
        <h3>Edit datewise trip</h3>
        <hr />
        @using (Html.BeginForm("SaveEdited", "DateWiseTrip", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.DateWiseTripId)
            @Html.HiddenFor(model => model.IsActive)
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedOn)
            @Html.HiddenFor(model => model.UpdatedBy)
            @Html.HiddenFor(model => model.UpdatedOn)
            @Html.HiddenFor(model => model.IsDeleted)
            @Html.HiddenFor(model => model.BusOperatorId)
            @Html.HiddenFor(model => model.TripId)
            @Html.HiddenFor(model => model.RouteId)

            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3" style="padding-top: 7px">
                    @Html.DisplayFor(model => model.Date, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NoOfSeat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.NoOfSeat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NoOfSeat, "", new { @class = "text-danger" })
                </div>
            </div>
            <label class="required col-sm-1"></label>

            <div class="form-group">
                @Html.LabelFor(model => model.Fare, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.Fare, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fare, "", new { @class = "text-danger" })
                </div>
            </div>
            <label class="required col-sm-1"></label>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        }

        <div>
            @Html.ActionLink("Back to Datewise Trip Home", "Index")
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
