@model OBTM.Core.Models.RouteView

@{
    ViewBag.Title = "AddRouteView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddRouteView</h2>


        <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
        <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(function () {
                $('.listbox').multiselect({
                    includeSelectAllOption: true
                });
            });
        </script>
        @using (Html.BeginForm("AddRouteView", "Route", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>RouteView</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.BusOperatorId, htmlAttributes: new { @class = "control-label col-md-2" })
                @*<label for="BusOperatorId">Bus Operator</label>*@
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.BusOperatorId, (SelectList)ViewBag.BusOperatorList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BusOperatorId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Routes.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                @*<label for="ExistingRoutes">Existing Routes</label>*@
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Routes.Id, (SelectList)ViewBag.ExistingRouteList, "--Select an Existing Route--", new { @class = "required", title = "priority" })
                    @Html.ValidationMessageFor(model => model.Routes.Id, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label col-md-2" })
                @*<label for="LocationId">From</label>*@
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.From, (SelectList)ViewBag.LocationList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Via, htmlAttributes: new { @class = "control-label col-md-2" })
                @*<label for="LocationId">Via</label>*@
                <div class="col-md-10">
                    @Html.ListBoxFor(m => m.Via, (SelectList)ViewBag.LocationList, new { @class = "listbox" })
                    @Html.ValidationMessageFor(model => model.Via, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label col-md-2" })
                @*<label for="LocationId">To</label>*@
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.To, (SelectList)ViewBag.LocationList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsReverse, htmlAttributes: new { @class = "control-label col-md-2" })
                @*<label for="LocationId">To</label>*@
                <div class="col-md-10">
                    @Html.CheckBoxFor(m => m.IsReverse)
                  
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
        }




<div>
    @Html.ActionLink("Back to List", "Index")
</div>
