@model IEnumerable<OBTM.Core.Models.BusOperator>

@{
    ViewBag.Title = "ViewRoute";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewRoute</h2>

<div class="row">
    <div class="col-md-2">
        @Html.Partial("NavbarPartial")
    </div>
    <div class="col-md-10">
        <input type="button" class="btn btn-success" value="Create New" onclick="location.href='@Url.Action("CreateRoute", "Route")'" />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @foreach (var itm in item.OperatorRouteMaps)
                        {
                            <table>
                                @if (itm.IsDeleted == null || itm.IsDeleted == false)
                                {
                                    <tr>
                                        <td>@itm.Route.RouteName</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = itm.Id })
                                        </td>



                                    </tr>

                                }
                            </table>
                        }


                    </td>
                </tr>
            }

        </table>

    </div>
</div>

