@model OBTM.Core.Models.TripBase

@{
    ViewBag.Title = "Index";
}
<script>
    $(document).ready(function () {
        
        $("#busOparetorDrpDown").change(function () {
            var id = $("#busOparetorDrpDown option:selected").val();
            GetBusRoute(id);

        });
        $("#busOparetorDrpDown").trigger("change");
        $("#btnSubmit").trigger("click");

        $("#btnSubmit").click(function () {

            var operatorId = $(busOparetorDrpDown).val();
            var routeId = $(routeDropDown).val();

            GetBusTrips(operatorId,routeId);
        });

        function GetBusRoute(id) {
            $.ajax({
                type: "GET",
                url: "/TripBase/GetBusRoute",
                data: { id: id },
                //cache: false,

                success: function (data) {
                    var options = '';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option  value="' + data[i].Id + '">' + data[i].RouteName + '</option>';
                    }
                    $("#routeDropDown").html(options);
                     $("#routeDropDown").val("@Html.Raw(Model != null ? Model.RouteId : 0)");
                    //AnotherOptionBinding(data);
                }
            });
        };


        function GetBusTrips(operatorId, routeId) {

            $.ajax({
                type: "GET",
                url: "/TripBase/GetBusTrips",
                data: { operatorId: operatorId, routeId: routeId },
                //cache: false,

                success: function (data) {

                    $("#tripList").html(data);
                  
                }
            });
        };

    });



</script>
<div class="row">
    <div class="col-md-2">@Html.Partial("NavbarPartial")</div>
    <div class="col-md-10">

        <h2>Trips</h2>
        <div class="row">
            <div class="form-group col-lg-4">
                @Html.Label("Bus Operator", htmlAttributes: new { @class = "control-label col-md-6" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.BusOperatorId, (SelectList)ViewBag.BusOperatorList, "Select Bus Operator", new { @class = "form-control", @id = "busOparetorDrpDown" })
                    @Html.ValidationMessageFor(model => model.BusOperatorId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-lg-4">
                <label class = "control-label col-md-6">Route</label>
                <select class="selectpicker form-control" name="RouteId" id="routeDropDown">
                    <option>Select Route</option>
                </select>
                    
            </div>
            <div class="form-group col-lg-4">
                <div class="row">
                    <button class="btn btn-primary" type="button" id="btnSubmit">Submit</button>
                </div>
            </div>

        </div>
        <div class="row">
            <div id="tripList">
            </div>
        </div>
    </div>
</div>

