@model OBTM.Core.Models.TripBase

@{
    ViewBag.Title = "TripInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-4 col-lg-4">
        @Html.Partial("NavbarPartial")

    </div>
    <div class="col-md-8 col-lg-8">
        <div>
            @using (Html.BeginForm("Create", "TripBase", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2>Trip Details</h2>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedOn)
                    @Html.HiddenFor(model => model.UpdatedBy)
                    @Html.HiddenFor(model => model.UpdatedOn)


                    <div class="form-group">
                        @Html.Label("Bus Operator", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.BusOperatorId, (SelectList)ViewBag.BusOperatorList, new { @class = "form-control", @id = "busOparetorDrpDown" })
                            @Html.ValidationMessageFor(model => model.BusOperatorId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Route</label>
                        <div class="col-md-4">
                            <select class="selectpicker form-control" name="RouteId" id="routeDropDown"></select>

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DepartureTime, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(m => m.DepartureTime, "{0:HH:mm}", new { @class = "form-control", type = "time" })
                            @Html.ValidationMessageFor(model => model.DepartureTime, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.BusType, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @*@Html.EditorFor(model=>model.BusType, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.EnumDropDownListFor(model => model.BusType, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BusType, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-2">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index", new { operatorId = Model.BusOperatorId, routeId = Model.RouteId })
            </div>

            @section Scripts {
                <script>
    $(document).ready(function () {
        $("#busOparetorDrpDown").change(function () {
            var id = $("#busOparetorDrpDown option:selected").val();
            GetBusRoute(id);

        });

        $("#busOparetorDrpDown").trigger("change");
        function GetBusRoute(id) {
            $.ajax({
                type: "GET",
                url: "/TripBase/GetBusRoute",
                data: { operatorId: id },
                //cache: false,

                success: function (data) {
                    var options = '';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option  value="' + data[i].Id + '">' + data[i].RouteName + '</option>';
                    }

                    $("#routeDropDown").html(options);
                    $("#routeDropDown").val("@Html.Raw(Model != null ? Model.RouteId: 0)");

                }
            });
        };


    });


                </script>
            }

        </div>

    </div>



</div>
