
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OnlineBusTicket.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jqueryval")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/footer-distributed-with-address-and-phones.css">
    <link rel="stylesheet" href="~/Content/demo.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <style>
        .footer {
            background-color: #555;
            color: white;
            text-align: center;
            height: 80px
        }
    </style>


</head>
<body class="container">

    <div class="row rounded" style="background-color:#088b42">
        <div class="col-md-2">
            <img src="~/Content/Picture/images.png" class="img-circle" alt="Cinque Terre" width="100" height="100">
        </div>
        <div class="col-md-10" style="padding:30px 100px 0px 0px">
            <h3 style="color:white; text-align:center;">Online Bus Ticket</h3>
        </div>
    </div>

    <div class="row" style="min-height:70vh;">
        @RenderBody()
    </div>
    <div class="row" style="">
        <footer class="footer-distributed" style=" background-color: #088b42;">
            <div class="footer-left">
                <h4>Company<span>logo</span></h4>
                <p class="footer-links">
                    <a href="#">Home</a>
                    ·
                    <a href="#">About</a>
                    ·
                    <a href="#">FAQ</a>
                    ·
                    <a href="#">Contact</a>
                </p>
                <p class="footer-company-name">Datagrid Ltd. &copy; 2015</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Road# 19, House# 04, Sector# 11</span> Uttara, Dhaka</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+880</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">support@company.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the company</span>

                </p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @*<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>*@

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    @*@RenderSection("CreateDateWiseTripScript", required: false)*@

</body>
</html>
