
<!DOCTYPE html>
<html>
<head>

    <style>
        .vl {
            border-left: 1px solid #808080;
            height: 500px;
            position: absolute;
            left: 60%;
            margin-left: -3px;
            top: 0;
        }

        .nav-sidebar {
            width: 100%;
            min-height: 70vh;
            padding: 8px 0;
            border-right: 1px solid #ddd;
        }

            .nav-sidebar a {
                color: #333;
                -webkit-transition: all 0.08s linear;
                -moz-transition: all 0.08s linear;
                -o-transition: all 0.08s linear;
                transition: all 0.08s linear;
                -webkit-border-radius: 4px 0 0 4px;
                -moz-border-radius: 4px 0 0 4px;
                border-radius: 4px 0 0 4px;
            }

            .nav-sidebar .active a {
                cursor: default;
                background-color: #428bca;
                color: #fff;
                text-shadow: 1px 1px 1px #666;
            }

                .nav-sidebar .active a:hover {
                    background-color: #428bca;
                }

            .nav-sidebar .text-overflow a,
            .nav-sidebar .text-overflow .media-body {
                white-space: nowrap;
                overflow: hidden;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
    </style>
</head>
<body>

    <nav class="nav-sidebar">
        <ul class="nav">
            <li>@Html.ActionLink("Bus Operator", "Index", "BusOperator")</li>
            <li>@Html.ActionLink("Route", "Index", "Route")</li>
            <li>@Html.ActionLink("Trip", "Index", "TripBase")</li>
            <li>@Html.ActionLink("Datewise Trip", "Index", "DateWiseTrip")</li>
            <li>@Html.ActionLink("Admin", "ViewUsers", "User")</li>
            @if (HttpContext.Current.Session["User"] != null)
            {
                <li><a>Logged In as (@HttpContext.Current.Session["User"]) </a> </li>
                <li id="toggle">@Html.ActionLink("Log Out", "LogOut", "User")</li>
            }
        </ul>

    </nav>
    @*<div class="vl"></div>*@
</body>
</html>
