
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OnlineBusTicket.com</title>
    @Styles.Render("~/Content/css")
    
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Content/footer-distributed-with-address-and-phones.css">
    <link rel="stylesheet" href="~/Content/demo.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

    <style>
        .footer {
            background-color: #555;
            color: white;
            text-align: center;
            height: 80px
        }
        .required:after {
            content: "*";
            font-weight: bold;
            color: red;
            font-size:large;
        }
    </style>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="container">

    <div class="row rounded" style="background-color:#088b42">
        <div class="col-md-2">
            <img src="~/Content/Picture/images.png" class="img-circle" alt="Cinque Terre" width="100" height="100">
        </div>
        <div class="col-md-10" style="padding:30px 100px 0px 0px">
            <h2 style="color:white; text-align:center;">Online Bus Ticket</h2>
        </div>
    </div>
    <div class="row rounded">
        <nav class="navbar navbar-light" style="background-color: #2dcf74;  margin:0;">
            <div class="container-fluid navbar-right">

                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "SearchBus", "BusSearch")</li>
                    <li>@Html.ActionLink("Cancel Ticket", "CancelTicketView", "Ticket")</li>
                </ul>
            </div>

        </nav>
    </div>

    <div class="row" style="min-height:70vh;">
        @RenderBody()
    </div>
    <div class="row" style="">
        <footer class="footer-distributed" style=" background-color: #088b42;">
            <div class="footer-left">
                <h4>Company<span>logo</span></h4>
                <p class="footer-links">
                    @Html.ActionLink("Home","SearchBus","BusSearch")
                    ·
                    <a target="_blank" href="http://www.datagridbd.com">About</a>
                    ·
                    <a target="_blank" href="http://www.datagridbd.com/faqs/">FAQ</a>
                    ·
                    <a target="_blank" href="http://www.datagridbd.com/contact-us/">Contact Us</a>
                </p>
                <p class="footer-company-name">Datagrid Ltd. &copy; 2015</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>Road# 19, House# 04, Sector# 11</span> Uttara, Dhaka</p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>+88 02 58950905</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p>Email: info@datagridbd.com</p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <h3>Follow Us</h3>
                </p>
                <div class="footer-icons">
                    <a target="_blank" href="https://www.facebook.com/Data-Grid-Limited-111397755610200/"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="https://twitter.com/datagridlimited"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/company/data-grid-limited/"><i class="fa fa-linkedin"></i></a>
                    @*<a href="#"><i class="fa fa-github"></i></a>*@
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", required: false)

</body>
</html>
