@model OBTM.Core.Models.Ticket

@{
    ViewBag.Title = "TicketDetails_";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h3 style="padding-left:450px">Your ticket is confirmed.Please check your Email</h3>
<div class="col-sm-offset-3 col-sm-8">

    @using (Html.BeginForm("SearchBus", "BusSearch"))
    {
        <hr />
        <dl class="dl-horizontal">
            @*@Html.HiddenFor(model => model.Id)*@
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CellNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CellNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalFare)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TotalFare)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Seats)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Seats)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TicketPIN)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TicketPIN)
            </dd>

        </dl>
        <p>
            <input type="submit" class="btn btn-info" value="Okay" />
        </p>
    }
</div>


