@model OBTM.Core.Models.Ticket

@{
    ViewBag.Title = "TicketDetails_";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Your ticket is confirmed</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        @*@Html.HiddenFor(model => model.Id)*@
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CellNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CellNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalFare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalFare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketPIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketPIN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Okay", "SearchBus","BusSearch")
</p>
