@model OBTM.Core.Models.ChangePasswordView
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-2">@Html.Partial("NavbarPartial")</div>
<div class="col-md-10">
    <div>
        <h3>Change Password</h3>
    </div>

    @using (Html.BeginForm("ChangePasswordConfirmed", "User", FormMethod.Post))
    {

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken();
            @Html.HiddenFor(model => model.UserId)
            <div class=" form-group row">

                @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="form-group col-md-3">
                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    <div class="alert alert-danger">
                        @if (Model.SubmissionMessage != null)
                         {
                            @Html.DisplayFor(model => model.SubmissionMessage, new { @class = "text-danger" })
                         }
                    </div>
                </div>
                <label class="required col-sm-1"></label>
            </div>
            <div class="form-group row">

                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="form-group col-md-3">
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                </div>
                <label class="required col-sm-1"></label>
            </div>

            <div class="form-group row">

                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="form-group col-md-3">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <label class="required col-sm-1"></label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-3">
                    <input type="submit" value="Confirm" class="btn btn-primary" />
                </div>
            </div>

        </div>
    }


</div>
